<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="./util.js"></script>
    <title> <%= pageName %> </title>
</head>
<body id="search-page">
    <div class="container shop-container">
    <!-- <span> Search Company </span> -->
     <input type="text" oninput="searchCompany(event)" placeholder="Search company" id="search-company">
     <div id="search-response"></div>
    </div>
</body>
</html>